<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Daily Bread</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item color="danger">
    <ion-label class="ion-text-wrap">
      <h1>Daily Bread: 8 Reasons Why You Need it More than you think</h1>
    </ion-label>
  </ion-item>
  
    


  <ion-item color="primary">
    <ion-label class="ion-text-wrap">
      The word of God is able to:

Make You Wise For Salvation
Perhaps you don’t know what you believe about Christianity. Or, perhaps you consider yourself a Christian, but wonder at times, Am I really a Believer? Do I have saving faith? When Paul wrote to Timothy about his faith, he mentioned that Timothy had known the Scriptures from childhood and that they were, “Able to make you wise for salvation through faith in Christ Jesus” (2 Timothy 3:15). If you don’t know exactly what you believe, the best place to begin is to spend a year reading the Bible for yourself. Cultural Christianity and modern media tend to quote the same ten verses time and again. Why not dig a little deeper and take the time to reflect upon the entire message? There is nothing lost by spending a year reading the Bible and there is much to gain. 
    </ion-label>
  </ion-item>


  <ion-item color="danger">
    <ion-label class="ion-text-wrap">
      <h1>Grow Your Relationship with God</h1>
      <p>All relationships take time to build. Friends plan times to get together and catch up. Spouses reconnect on date nights. Church members chat over pot-luck dinners. Building fellowship with others takes time. If we want to grow a friendship with God, we need time in His presence for that relationship to flourish. Reading the Bible on a daily basis allows us the opportunity to get to know God: What does He care about? How does He respond? Who does He love?</p>
    </ion-label>
  </ion-item>

  <ion-item color="warning">
    <ion-label class="ion-text-wrap">
      
      <h1>Help You Fight Temptation</h1>
      <p>We all struggle with sin. The Bible offers stories imperfect people: liars, adulterers, murderers, and idolaters. We are told that these stories were written for our benefit: “Now these things took place as examples for us, that we might not desire evil as they did” (1 Cor. 10:1-13).

        The Bible illuminates our propensity towards sin, as well as prepares us to fight it. The word of God acts as a sword against the attacks of the devil (Eph. 6:17). The psalmist tells us, “I have stored up your word in my heart, that I might not sin against you” (Psalm 119:11). Being in the word on a daily basis strengthens our minds; fortifying and preparing our hearts for the battle that will surely come our way.</p>

  </ion-label>
  </ion-item>

  
  <ion-item color="success">
    <ion-label class="ion-text-wrap">

      <h1>Provide Revival, Wisdom & Joy</h1>
      <p>Are you weary? Unsure of what to do? In need of wisdom in some area? Just take a moment to read the promises found in Psalm 19: 7-11:

        The law of the LORD is perfect,
        reviving the soul;
        the testimony of the LORD is sure,
        making wise the simple;
        the precepts of the LORD are right,
        rejoicing the heart;
        the commandment of the LORD is pure,
        enlightening the eyes;
        
        Revival, joy, and wisdom: these are the jewels we uncover as we mine the riches of God’s word.</p>
    </ion-label>
  </ion-item>

  
  <ion-item color="tertiary">
    <ion-label class="ion-text-wrap">
      <h1>Nourish Your Soul</h1>
      <p>Psalm 1 tells us the man who delights in the law of the Lord is like a “tree planted by streams of water, that yields its fruit in season, and its leaf does not wither. In all that he does, he prospers.” Isaiah 55 compares time with the Lord to a feast in which we can delight our souls in the richest of fare. Jesus told us that abiding in Him was more necessary than food or water. Apart from Him, we can do nothing (John 15). However, in Christ we can do all things (Phil 4:13). The most important gift you can give to yourself in the coming year is time with Jesus.</p>
    </ion-label>
  </ion-item>

  <ion-item color="danger">
    <ion-label class="ion-text-wrap">
      <h1>Provide Comfort</h1>
      <p>In the upcoming year, each of us will suffer. The best way to prepare our hearts for trials is to fill our minds with the word of God. Many false assurances of happiness and ease are the result of misapplied promises born out of an insufficient understanding of God’s word. Knowing God’s promises, in the full context of His word, helps us to put our hope God and find comfort for our souls in times of hardship and distress. The psalmist tells us, “This is my comfort in my affliction, that your promise gives me life” (Psalm 119:50). When the storm winds blow the strongest, we will be thankful for the anchor that is buried deep within the promises of God.</p>
    </ion-label>
  </ion-item>

  <ion-item color="warning">
    <ion-label class="ion-text-wrap">
      <h1>Transform You to Look Like Christ</h1>
      <p>When I was in college, I lived with the same roommate for four years. Eventually, we began to look alike, talk alike, and use similar mannerisms. Time together made us become like one another. In a similar way, time with Jesus makes look like Jesus. The Bible is not simply a textbook to teach us facts about Jesus. It is living and active. We actually meet with Jesus as we spend time in His word.

        In a world with many thoughts and ideas, it is important to remember that the most brilliant insights of men or women are from the minds of created beings. In the Bible, we have access to the wisdom of an infinite God and Creator, the One who knows all things, and understands the beginning from the end. What a privilege to come and learn from Him! As our minds are renewed, our lives are transformed.</p>
    </ion-label>
  </ion-item>

  <ion-item color="success">
    <ion-label class="ion-text-wrap">
      <h1>Bless You to Be a Blessing</h1>
      <p>As the word transforms us, we become living examples of Jesus to the world around us. We share our faith, care for the poor, work with diligence, fight injustice, love unconditionally, forgive those who sin against us, confess our sins, and shine as lights in a dark and weary world. If we want to impact the world, we must first be impacted by the word.

        If you are thirsty for more in the upcoming year, you are invited to a feast. For all of these benefits, and many more, He invites you:
        
        Come, everyone who thirsts,
        come to the waters;
        and he who has no money,
        come, buy and eat!
        Come, buy wine and milk
        without money and without price.
        Why do you spend your money for that which is not bread,
        and your labor for that which does not satisfy?
        Listen diligently to me, and eat what is good,
        and delight yourselves in rich food.
        Incline your ear, and come to me;
        hear, that your soul may live; (Isaiah 55:1-3)
        
        </p>
    </ion-label>
  </ion-item>
  
</ion-content>
