<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Yesu Nde Makambu Tv</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="danger">
<ul>
  <li *ngFor="let program of channel">{{program}}</li>
</ul>

<ion-item color="warning">
  <ion-label class="ion-text-wrap">
    Yesu Nde Makambu Tv is a christian Tv that only show christian content such preaching, bible study, bible conference and Christian movie.
  </ion-label>
</ion-item>

<ul>
  <li>There is children program on every saturday at 10:00am</li>
  <li>Educational programs are also on Yesu Nde Makambu Tv</li>
</ul>


</ion-content>
