<ion-header>
  <ion-card></ion-card>
  <ion-toolbar>
    <ion-title>service</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>


<ion-content>
  
    <h2>Wednesday</h2>
  <h5>Intercession ( 1 Timothy 2:1 )</h5>
  <ul>
    <li>Starting Time : 18:30</li>
    <li>Finishing Time: 20:30</li>
  </ul>
 <h2> Friday</h2>
 <h5>Bible Study ( 2 Timoty 3:16 )</h5>
 <ul>
   <li>Starting  Time:  18:30pm</li>
   <li>Finishing Time: 20:30pm</li>
 </ul>
 <h2>Saturday</h2>
 <h5>Choir Practice ( Ephesians 5:19 )</h5>
 <ul>
   <li>Starting Time: 18:30pm</li>
   <li>Finishing Time: 20:30pm</li>
 </ul>
   <h2>Sunday</h2>
   <h5>Worship Service (Psalm 150:6 )</h5>
   <ul>
     <li>Staring Time 12:30pm</li>
     <li>Finishing Time 12:30pm</li>
   </ul>
  
   <ion-footer>
    <h5>Email</h5>
    <h5>Contact</h5>
    <h5>Location</h5>
    <h5>Address</h5>
    
  </ion-footer>
</ion-content>
