<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Bible</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

 <ul>
   <h1>What is Bible?</h1>
   <li>
    The Bible is the account of God’s action in the world, and his purpose with all creation. The writing of the Bible took place over sixteen centuries and is the work of over forty human authors. It is quite an amazing collection of 66 books with very different styles, all containing the message God desired us to have.

    This compilation of booklets contains an astonishing variety of literary styles. It provides many stories about the lives of good and bad people, about battles and journeys, about the life of Jesus, and about early church activity. It comes to us in narratives and dialogues, in proverbs and parables, in songs and allegories, in history and prophecy.
    The accounts in the Bible were not generally written down as they occurred. Rather they were told over and over again and handed down through the years, before eventually being written down. Yet the same themes may be found throughout the book. Along with the diversity, there is also remarkable unity throughout.
    
    So what is the Bible? Well, in addition to all the above, the Bible is:
    
    A guide for living life to the full. It gives us a road map for the perilous journey of life. Or to put it another way, on our voyage through life’s ocean, the Bible is an anchor.
    A storehouse of wonderful stories for children and grownups. Remember Noah and the ark? Joseph’s coat of many colors? Daniel in the lion’s den? Jonah and the fish? The parables of Jesus? These stories emphasize the triumphs and failures of ordinary people.
    A refuge in trouble. People in pain, in suffering, in prison, and in mourning tell how turning to the Bible brought strength in their desperate hour.
    A treasury of insight as to who we are. We are not meaningless robots, but we are magnificent creatures of a God who loves us and gives us a purpose and a destiny.
    A sourcebook for everyday living. We find standards for our conduct, guidelines for knowing right from wrong, and principles to help us in a confused society where so often “anything goes.”
    Share on facebook
    FACEBOOK
    Share on twitter
    TWITTER
    Share on linkedin
    LINKEDIN
    Share on pinterest
    PINTEREST
    
   </li>

   <h1>How to study Bible?</h1>

   <li>There are many ways to study the Bible. This method is just one to consider.

    If you need help getting started, this particular method is great for beginners but can be geared toward any level of study. As you become more comfortable studying God's Word, you will begin to develop your own techniques and discover favorite resources that will make your study very personal and meaningful.
    
    You've taken the biggest step by getting started. Now the real adventure begins.</li>

    <h1>Choose a Book of the Bible</h1>
    <li>With this method, you will study an entire book of the Bible. If you've never done this before, start with a small book, preferably from the New Testament. The book of James, Titus, 1 Peter, or 1 John are all good choices for first-timers. Plan to spend 3-4 weeks studying the book you have chosen.</li>

    <h1>Begin With Prayer</h1>
    <li>Probably one of the most common reasons Christians don't study the Bible is based on this complaint, "I just don't understand it!" Before you start each study session, begin by praying and asking God to open your spiritual understanding.

      The Bible says in 2 Timothy 3:16, "All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness." (NIV) So, as you pray, realize that the words you are studying are inspired by God.
      
      Psalm 119:130 tells us, "The unfolding of your words gives light; it gives understanding to the simple." (NIV)</li>

    <h1>Read the Entire Book</h1>
    <li>Next, you'll spend some time, perhaps several days, reading through the entire book. Do this more than once. As you read, look for themes that may be woven into the chapters.

      Sometimes you'll detect a general message in the book. For example, in the book of James, an obvious theme is "persevering through trials." Take notes on the ideas that jump out at you.
      
      Look also for "life application principles." An example of a life application principle in the book of James is: "Make sure your faith is more than just a statement -- it should result in action."
      
      It's a good practice to try and pull out these themes and applications on your own as you meditate, even before you begin using other study tools. This gives an opportunity for God's Word to speak to you personally.</li>

    <h1>Zoom In</h1>
    <li>Now you will slow down and read the book verse by verse, breaking down the text, looking for deeper understanding.

      Hebrews 4:12 begins with, "For the word of God is living and active..." (NIV) Are you starting to get excited about Bible study? What a powerful statement!
      
      In this step, we'll see what the text looks like under a microscope, as we begin breaking it down. Using a Bible dictionary, look up the meaning of the word living in the original language. It is the Greek word 'Zaõ' meaning, "not only living but causing to live, vivifying, quickening." You start to see a deeper meaning: "God's Word causes life to come about; it quickens."
      
      Because God's Word is alive, you can study the same passage several times and continue to discover new, relevant applications throughout your walk of faith.</li>

    <h1>Choose Your Tools</h1>
    <li>For this portion of your study, you will want to consider choosing the right tools to aid in your learning, such as a  commentary, lexicon or Bible dictionary. A Bible study guide or perhaps a study Bible will also help you dig deeper. There are also many useful online Bible study resources available if you have access to a computer for your study time.

      As you continue to do this type of verse by verse study, there's no limit to the wealth of understanding and growth that will come from your time spent in God's Word.</li>

    <h1>Be a Doer of the Word</h1>
    <li>Don't just study God's Word for the sake of studying. Be sure to put the Word into practice in your life.

      Jesus said in Luke 11:28, "But even more blessed are all who hear the word of God and put it into practice." (NLT)
      
      If God speaks to you personally or through life application principles you find in the text, be sure to apply those nuggets to your day-to-day life.</li>

    <h1>Set Your Own Pace</h1>
    <li>Once you've finished the first book, choose another one and follow the same steps. You may want to spend much more time digging into the Old Testament and some of the longer books of the Bible</li>


 </ul>



</ion-content>
