<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Healing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="success">

  
  
  <ol>
    
  <h1>God is the solution of healing</h1>
  <li>In times of spiritual, emotional, or physical pain, we can rely on healing scriptures to comfort our souls and guide us towards recovery and faith.  The Bible is a source of peace and comfort for the times that cause us to lose strength and hope. Life doesn’t always give us what we expect or even hope for. Many of us know what it’s like to be emotionally hurt by friends, family, or even a spouse. Many more know what it is like to live with a disorder, illness, or chronic pain that won’t go away. 

    We all need healing in some way or another. Healing only God can give. Whether you are facing a physical ailment or one that is mental, emotional, or spiritual, seeking God's help can be an invaluable response. 
    
    We have compiled this collection of Bible verses about healing as a resource of solace for times of pain and sorrow. When you feel anxieties rise, worry over the future, and face the pain of a hurting world, turning to God's truths and promises should be your first action. Scripture can increase your faith, deepen your trust in God, and help you rise above the troubles you see in front of you. God wants to give you peace that passes understanding and a life that is full of good. Whatever you are facing, you have a loving God who wants to alleviate the pain and provide healing in every part of your body, mind, and soul. 
    
    We can rely on God’s power, to not only heal our emotional pain but for physical healing as well. These are the best healing Bible verses to meditate on. May these Scriptures encourage you to turn toward God in prayer for healing and seek His strength. 
  </li>
  <br>
  <li>
    He heals the brokenhearted and bandages their wounds. – Psalm 147:2 
  </li>
  <br>
  <li>
    O Lord, if you heal me, I will be truly healed; if you save me, I will be truly saved. My praises are for you alone! – Jeremiah 17:14 
  </li>
   <br>
  <li>
    Then Jesus said, “Come to me, all of you who are weary and carry heavy burdens, and I will give you rest. Take my yoke upon you. Let me teach you, because I am humble and gentle at heart, and you will find rest for your souls.” – Matthew 11:28-29 
  </li>
   <br>
  <li>
    He personally carried our sins in his body on the cross so that we can be dead to sin and live for what is right. But his wounds you are healed. – 1 Peter 2:24 
  </li>
  <br>
  <li>
    But he was pierced for our rebellion, crushed for our sins. He was beaten so we could be whole. He was whipped so we could be healed. – Isaiah 53:5 
  </li>
  <br>
  <li>
    Let all that I am praise the Lord; may I never forget the good things he does for me. He forgives all my sins and heals all my diseases. – Psalm 103:2-3
  </li>
  <br>
  <li>
    Trust in the Lord with all your heart; do not depend on your own understanding. Seek his will in all you do, and he will show you which path to take. Don’t be impressed with your own wisdom. Instead, fear the Lord and turn away from evil. Then you will have healing for your body and strength for your bones. – Proverbs 3:5-8 
  </li>
  <br>
  <h1>Scriptures for Physical Healing</h1>
  <li>
    But what could I say? For he himself sent this sickness. Now I will walk humbly throughout my years because of this anguish I have felt. Lord, your discipline is good, for it leads to life and health. You restore my health and allow me to live! – Isaiah 38:15-16
  </li>
  <br>
  <li>
    “I will give you back your health and heal your wounds,” says the Lord. – Jeremiah 30:17
  </li>
  <br>
  <li>
    Have compassion on me, Lord, for I am weak. Heal me, Lord, for my bones are in agony. – Psalm 6:2
  </li>
  <br>
  <li>
    The Lord nurses them when they are sick and restores them to health. – Psalm 41:3 
  </li>
 <br>
  <li>
    “Lord, help!” they cried in their trouble, and he saved them from their distress. He sent out his word and healed them, snatching them from the door of death. – Psalm 107:19-20 
  </li>
  <br>
  <li>
    Jesus saw the huge crowd as he stepped from the boat, and he had compassion on them and healed their sick. – Matthew 14:14 
  </li>
 <br>
  <li>
    They begged him to let the sick touch at least the fringe of his robe, and all who touched him were healed. – Matthew 14:36 
  </li>
  <br>
  <li>
    Jesus said to the woman, “You are now well because of your faith. May God give you peace! You are healed, and you will no longer be in pain.” – Mark 5:34 
  </li>
   <br>
  <li>
    Such a prayer offered in faith will heal the sick, and the Lord will make you well. And if you have committed any sins, you will be forgiven. – James 5:15 
  </li>

  </ol>
</ion-content>
