<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Prayer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content><img src="../../assets/logo.png"/></ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-content>
    <ul>
      <ion-list>
     <h1>1. Matthew 6:9-13: The Lords Prayer or the Our Father</h1>
     <br>
        <ion-item>
          “This, then, is how you should pray: ‘Our Father in heaven, hallowed be your name, your kingdom come, your will be 
          done, on earth as it is I heaven. Give us today our daily bread. Forgive us our debts as we also have forgiven our debtors. 
          And lead us not into temptation, but deliver us from the evil one.’”

         St. Philips 022This is known as the Lord’s Prayer or the Our Father and is one of the most famous prayers in the world. 
         Jesus created this prayer to teach his disciples how to pray. This prayer is used in churches and in private prayer worldwide.

          Countless books, sermons and articles have been written on it because each phrase leads us into a different dimension of 
          prayer, such as praising God, praying about his will, asking him to provide for our needs, asking for forgiveness and also
           the grace to forgive others, help during temptation and protection from evil.  
        </ion-item>

        <br>
        <h1>2. Philippians 4:6,7: Pray about everything</h1>
        <br>
        <ion-item>
          “Do not be anxious about anything, but in everything, by prayer and petition, with thanksgiving, present your request to God.”


          This advice on prayer was written by the apostle Paul to early church members to encourage them to pray to God about anything 
          and everything that troubled them. It gives a pattern for a straight forward way of praying where we are encouraged to present 
          our requests to God with thankful hearts.

           Some once told me that they weren’t praying for a new job, which they desperately needed, because they felt like they 
           shouldn’t bother God with it since there were other people with much bigger needs like serious diseases.  
             This Bible verse tells us God’s ears and heart are always open to hear about anything, big or small, 
             that makes us feel anxious or worried.   What may seem like a small matter to someone else may be a big thing to you.
               God cares and he is listening. 
        </ion-item>

        <br>
        <h1>3. 1 John 5:14: God always hears</h1>
        <br>
        <ion-item>
          “This is the confidence we have in approaching God: that if we ask anything according to his will, he hears us.”

          The apostle John, one of the disciples who was closest to Jesus, shares this advice with the early church. 
          It speaks of us having confidence when we pray that God hears us. It also brings in the principle of being
           close enough to God to know his will so we will be able to know when we ask for things whether they line up with
            God’s purposes for our lives and his kingdom.
        </ion-item>

        <br>
        <h1>4. Mark 11:22 – 25: Mountain moving prayer</h1>
        <br>
        <ion-item>
          “’Have faith in God,’ Jesus answered. ‘I tell you the truth. If anyone says to this mountain, ‘Go, throw yourself into the sea,
          
           and does not doubt in his heart but believes that what he says will happen, it will be done for him. Therefore I tell you, 
           whatever you ask for in prayer, believe that you have received it, and it will be yours. And when you stand praying, if you
            hold anything against anyone, forgive him, so that your Father in heaven may forgive you your sins.”

          Colorado 066These statements were made by Jesus to his disciples when many were questioning his spiritual authority.  
           This is commonly referred to as “mountain moving faith.” This image has been used by Christians throughout the years to 
           keep believing and praying in the face of what seem to be insurmountable obstacles. It points out the extreme necessity of 
           faith in believing that something will happen as a result of our prayers.
          
          The second statement about forgiving others as an avenue to prayer echoes the statement in the Lord’s prayer about forgiving
           others as we have been forgiven. This self-examination process is extremely necessary in prayer to prevent the first 
           statement about mountain moving prayer to be used for our own ill thought out purposes.
        </ion-item>

        <br>
        <h1>5. Matthew 6:6-8: Private payer in your prayer closet</h1>
        <br>
        <ion-item>
          “But when you pray, go into your room, close the door and pray to your Father, who is unseen. Then your Father, 
          who sees what is done in secret, will reward you. And when you pray, do not keep on babbling like pagans, for they 
          think they will be heard because of their many words. Do not be like them, for your Father knows what you need before
           you ask him.”

          In this statement, Jesus is contrasting true prayer with prayer that is done for show in public as was often done in
           his day by religious leaders who wanted to call attention to their own piety. This is where the term “prayer closet” 
           comes from. Jesus also mentions that prayers don’t have to long or eloquent. What a wonderful, freeing thought to realize
            that we don’t need to be in a special place, say special words or speak to anyone but God in the privacy of our 
            own relationship to him.
        </ion-item>

        <br>
        <h1>6. Matthew 18:19,20: Agreeing together in prayer with others</h1>
        <br>
        <ion-item>
          “Again, I tell you that if two of you on earth agree about anything you ask for, it will be done for you by my Father in
           heaven. For where two or three come together in my name, there am I with them.”

          Jesus made this statement to emphasize the power of prayer together with a prayer partner or a group. 
          Although Jesus earlier told us in Matthew 6:6-8 to pray in private to God, he goes further to highlight the
           power of prayer with others as a form of spiritual agreement in prayer. When we pray with others, we are availed
            of the benefit of their point of view that will see the issue we’re praying about in a slightly different manner.
             When several people are listening for God’s answer, being able to confirm or agree together in spirit that what they
              are each individually sensing is a means through which God works to confirm his will and direction for us.
        </ion-item>

        <br>
        <h1>7. James 5:13-18: Healing prayer and the effectiveness of the prayers of the righteous</h1>
        <br>
        <ion-item>
          Is any one of you in trouble? He should pray. Is anyone happy? Let him sing songs of praise. Is any one of you sick?
           He should call the elders of the church to pray over him and anoint him with oil in the name of the Lord. And the prayer
            offered in faith will make the sick person well; the Lord will raise him up. If he has sinned, he will be forgiven. 
            Therefore confess your sins to each other and pray for each other so that you may be healed. The prayer of a righteous
             man is powerful and effective. Elijah was a man just like us. He prayed earnestly that it would not rain, and it did not
              rain on the land for three and a half years. Again he prayed, and the heavens gave rain, and the earth produced its crops.”

          James became a leader in Jerusalem after the resurrection of Jesus. In this role, he stresses the practical aspects of faith.
           The most often quoted prayer quote of this passage is verse 16 “The prayer of a righteous man is powerful and effective.”
            Christians believe that our righteousness is a gift given to us when we accept the sacrificial death of Christ on the 
            cross as an atonement or payment for our sins. After our first acceptance of Christ, we then endeavor to live a life
             worthy of him.
          
          This verse also is the basis for the Christian practice of healing prayer with the anointing of oil
        </ion-item>

        <br>
        <h1>8. Luke 5:15,16: Getting into the habit of praying</h1>
        <br>
        <ion-item>
          “Yet the news about him spread all the more, so that crowds of people came to hear him and to be healed of their sicknesses.
           But Jesus often withdrew to lonely places to pray.”

          Too often in the middle of doing great things we tend to become people of action and forget to underpin all of our actions
           with prayer. Jesus himself, who was God’s own son, needed to pray often in order to sustain his incredible ministry which 
           included healing many people. This verse also reminds us of the need to make prayer a regular habit so we can be continually 
           refilled and rejuvenated with spiritual power.
        </ion-item>

        <br>
        <h1>Romans 8:26,27: The importance of the Holy Spirit to pray for us</h1>
        <br>
        <ion-item>
          “In the same way, the Spirit helps us in our weakness. We do not know what we ought to pray for, but the Spirit himself 
          intercedes for us with groans that words cannot express. And he who searches our hearts knows the mind of the Spirit, 
          because the Spirit intercedes for the saints in accordance with God’s will.”

          St. Paul describes to us the supernatural role that the Holy Spirit plays in our ability to pray. Paul points out that
           when we have trouble finding the right words, the Holy Spirit takes our efforts, reads our hearts and intercedes on our 
           behalf in ways that bypass our understanding. The power of the Holy Spirit is crucial, since the Holy Spirit searches our
            hearts and puts them in alignment with the mind of God.
        </ion-item>

        <br>
        <h1>10. Luke 11:9-13: Seek and you will find</h1>
        <br>
        <ion-item>
          “So I say to you: Ask and it will be given to you; seek and you will find; knock and the door will be opened to you. 
          For everyone who asks receives; he who seeks finds; and to him who knocks, the door will be opened. Which of you fathers, 
          if your son asks for a fish, will give him a snake instead? Of if he asks for an egg, will give him a scorpion? If you then, 
          though you are evil, know how to give good gifts to your children, how much more will your Father in heaven give the Holy 
          Spirit to those who ask him!”

          Jesus tells us that prayer requires a seeking heart. When we make the effort to get in touch with God, he rewards us. 
          The most famous quote from this passage is “seek and you will find.” This passage has often been misread to conclude 
          that that God will give us exactly what we want at the time we want it. Instead it says something much more amazing and
           astonishing. When we seek God in prayer, we are always rewarded. And the most amazing reward is the gift of God’s Holy 
           Spirit to be our helper and our guide during whatever situations we find ourselves in during our lives
        </ion-item>
      </ion-list>

    </ul>
  </ion-card-content>
</ion-card>
</ion-content>
