<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Event</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger">
 


  
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-content><img src="../../assets/wed.jpeg"/></ion-card-content>
        </ion-card>
        <h1>Wedding</h1>
        <h3>Wonderfull News!!!!!!!!!!</h3>
        <h5>Weddings are amazing and married life is great! This is more of a reason couple Muzinga is planning to give it a shot in the month of June and live happily ever after.  </h5>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-content><img src="../../assets/hall.jpeg"/></ion-card-content>
        </ion-card>
        <h1>Save The Date</h1>
        <h5>The wedding will be on the 25th of June 2022</h5>
        <h5>Church Ceremony will start at 12:30pm - 2:00pm</h5>
        <h5>Celebration Party will be at Galway Bay Hotel from 8:00pm - 11:00pm</h5>
        <h5>Restoration Church Members are all welcome</h5>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-content><img src="../../assets/conf.jpeg"/></ion-card-content>
        </ion-card>
        <h1>christian Youth Conference</h1>
        <h5>There will be a christian youth conference for 3 days in July 2022 at Restoration church</h5>

        <ol>
          <h2>Theme: Living For Jesus Chirst</h2>
          <br>
          <li>GIVE YOUR LIFE TO JESUS CHRIST</li>
          <h5>Thursday 21.07.2022 : 6:00pm - 8:00pm</h5>
          <br>
          <li>IT IS POSSIBLE WITH JESUS CHRIST</li>
          <h5>Friday 22.07.2022 : 6:00pm - 8:00pm</h5>
          <br>
          <li>POWER OF TIME</li>  
          <h5>Saturday 23.07.2022: 6:00 -8:00pm</h5>      
          
        </ol>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/camp.jpeg"/>
        <h1>Summer Camp</h1>
        <h5>A Great news for the church memebers as there will be a summer camp trip to Democratic Reulic of Congo in August for two weeks</h5>
        <h5>The dates will be given after the big Youth Conference</h5>
      </ion-slide>
    </ion-slides>

  
</ion-content>
