<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Formation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" icon="home" defaultHref="home">
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger">
 
  <ion-card>
    <ion-card-content><img src="../../assets/logo.png"/></ion-card-content>
  </ion-card>

  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-content><img src="../../assets/youth.jpeg"/></ion-card-content>
      </ion-card>
      <h1>Youth Ministry and Christian Formation</h1>
      <h5>The major in Christian education and youth ministry is designed to give you optimal learning in Christian ministry. You will take required courses in both Christian education and youth ministry and then elective courses that best suit your interests. The purpose of the major is to equip you for entry-level positions in a local church or para-church organization in either Christian education or youth ministry. The major also prepares you for graduate studies in one or both of these areas. At the end of the program, you will be equipped to examine different areas of ministry, articulate a basic philosophy of educational or youth ministry, and develop your abilities in Christian leadership.

        To help fulfill this goal, three primary areas of study are required. First, you will be exposed to the theory and practice of Christian education and youth ministry. Second, you will be academically and spiritually grounded through a foundation of courses in biblical and theological studies. And, third, you will be exposed to broader areas that influence ministry through courses in the social sciences.
        
        The Christian education and youth ministry major affords opportunities for immediate employment, although graduate studies are encouraged if you are seeking a career in either Christian education or youth ministry.</h5>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content><img src="../../assets/youth2.jpeg"/></ion-card-content>
      </ion-card>
      <h1>The Role of Youth in Today’s Church</h1>
      <h5>Investing in today’s youth is necessary in growing the body of Christ. Teaching young people in the church to grow in their relationship with the Lord prepares them to serve Christ in all they do. As a result, this nurtures the congregation and allows the church to flourish.

        Serving young people cannot only prepare them to become future leaders, but also allow them to contribute to the church. This is seen many times in the Bible, as God often used young people to do great things. For example, God used Timothy to pastor and lead the Ephesian church when he was a teenager. 1 Timothy 4:12 says, “Don’t let anyone look down on you because you are young, but set an example for the believers in speech, in conduct, in love, in faith and in purity.”
        
        In addition, there is much to be learned from the faith of a child. Matthew 18:2-4 says, “He called a little child to him, and placed the child among them. And he said: ‘Truly I tell you, unless you change and become like little children, you will never enter the kingdom of heaven. Therefore, whoever takes the lowly position of this child is the greatest in the kingdom of heaven.’” Because of God’s heart for young people, it is important to recognize their value in today’s church.</h5>
     
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content><img src="../../assets/youth3.jpeg"/></ion-card-content>
      </ion-card>
      <h1>The Need for Leaders in Christian Youth Ministry</h1>
      <h5>Youth need guidance and support as they navigate through the most challenging part of their development and seek to grow in their walk with Christ. Christ-like leaders are needed to serve young members of the congregation and help them to reach their full potential.

        Youth ministry leaders must be rooted in a biblical foundation in order effectively communicate with young people. In addition, they must understand modern influences on Christianity, which allow them to identify with youth and build meaningful relationships with them. If you feel called to help young people walk with the Lord, earning a bachelor’s degree in youth ministry may be a great option.
        
        It is important for the truth of the gospel to be passed down from generation to generation in order to grow the body of Christ. Ultimately, helping youth to grow spiritually in their formative years will equip them to make an impact for Christ both now and in their future.
        
        Grand Canyon University’s College of Theology educates students to communicate the gospel effectively, serve the church faithfully and minister with integrity. To learn more about GCU’s Christian worldview, visit our website.
        
        Written by Lauren Abraham, a senior earning a communications degree at GCU.</h5>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/youth4.jpeg"/>
      <h1>The Importance of a Church Youth Development Program</h1>
      <h5>Young people need mature Christians in their lives investing into them on a regular basis. It’s important to identify the potential in young people and help them emerge as leaders. The training for our youth group does not have to stop in the youth room. It doesn’t have to be all fun and games either. When we empower our youth, we give them a sense of ownership and responsibility.

        Great examples of this include youth mentoring. For example: A gifted young musician is a great fit to work with someone on the church worship team. The worship leader can invest in the young person’s spiritual life and help them grow in musicianship. This type of culture allows for development of church leaders for the next generation.
        
        From helping in classrooms to running the sound board, there are many areas where youth can work alongside older Christians. It’s important for young people to feel connected to the rest of the church. This type of mentoring also helps develop a sense of belonging within the church.</h5>
    </ion-slide>
  </ion-slides>


 
</ion-content>
