<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Restoration Church Ministries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-card>
    <img src="../../assets/logo.png"/>
    <ion-card-header>
      <ion-card-title>Mathiew 22:4-7</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Restoration Church Ministries was created in 2001 by main Pastor Leon Kakudji.The purpose is to preach restoration message and 
      to remind children of God that only God is able to restor all the broken things. Deuteronomy 30:3 "God, your God ,
       will restore everything you lost;he'll have compassion on you;he'll come back and pick up the pieces from all the places where you
       scattered "
    </ion-card-content>
    <ion-card-content color="secondary">Pastor Leon Kakudji</ion-card-content>
  
  </ion-card>
    
  <ion-card>
    <ion-card-content>


      <ul>
        <li [routerLink]="['/service']" routerDirection="forward">Service</li> 
        <li [routerLink]="['/prayers']" routerDirection="forward">Prayer</li>
        <li [routerLink]="['/formation']" routerDirection="forward">Formation</li>
        <li [routerLink]="['/event']" routerDirection="forward">Event</li>

      </ul>
    </ion-card-content>
   </ion-card>
<ul>
  <li>
    The main purpose of church is is to proclaim the gospel to the ends of the earth,
     gloryfing God and preparing people for God's return.
  </li>
</ul>


<ion-card-content>
  <img src="../../assets/b.jpeg"/>
</ion-card-content>

<ion-grid>
  <ion-row>

    <ion-col>
      <ion-card>
        <img src="../../assets/tv.jpg"/>
        <ion-card-content>
         Yesu Makambo Tv is the main Television of Restoration Church Ministries.There is live preaching and recorded preaching.

        </ion-card-content>
        <ion-button (click)="openChannelPage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>

    <ion-col>
      <ion-card>
        <img src="../../assets/daily.jpeg" width="300"/>
        <ion-card-content>
         Bible versets
        </ion-card-content>
        <ion-button (click)="openDailyPage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>

    <ion-col>
      <ion-card>
        <img src="../../assets/youthh.jpeg"/>
        <ion-card-content>
         Youth's minds are perfect vessels for information.
         There is no better time teaching them about God, Religion and spirititualy other than in their younger.

        </ion-card-content>
        <ion-button (click)="openYouthPage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="../../assets/biblee.jpeg"/>
        <ion-card-content>
         <ol>
           <li>What is Bible?</li>
           <li>How to study Bible?</li>
           <li>Why do we need to study Bible?</li>
           <li>How to pray?</li>
           
         </ol>
        </ion-card-content>
        <ion-button (click)="openBiblePage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>
  
    <ion-col>
      <ion-card>
        <img src="../../assets/prayer.jpeg"/>
        <ion-card-content>
          <ul>
            <li>Bible meditation is the most precious things for a christian. </li>
            <li>Why to meditate Bible</li>
            <li>How to Meditate Bible</li>
          </ul>

        </ion-card-content>
        <ion-button (click)="openPrayerPage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>

    <ion-col>
      <ion-card>
        <img src="../../assets/heal.jpeg"/>
        <ion-card-content>
         
          <ion-list>
            <ion-item>Healer of all the sickness</ion-item>
            <ion-item>Restorator of broken hearted</ion-item>
            <ion-item>Saviour of lives</ion-item>
            
            </ion-list>

        </ion-card-content>
        <ion-button (click)="openHealPage()">Learn More</ion-button>
      </ion-card> 
    </ion-col>
   

  </ion-row>
</ion-grid>
 <ion-card>
  <ion-card-content>
    <ul>
      <li>Isaiah 40:31 !! But those who hope in the Lord will renew their strength.
        they will soar on wings Like eagles, they will run and not grow weary, they will walk and not be faint.</li>
    </ul>
  </ion-card-content>
 </ion-card>

</ion-content>
